---
name: "Terraform CI/CD Pipeline"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  checkov_scan:
    name: "Checkov Scan"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Checkov Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          output_format: cli,sarif
          output_file_path: console,results.sarif

      - name: Upload Checkov SARIF Report
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: results.sarif
